.osx-buttons {
    width: 50px;
    display: flex;
    justify-content: space-between;
    button{
      background: transparent;
      border: none;
      outline: none;
    }
    &_btn {
      display: flex;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      &.btn-red {
        background: $red;
      }
      &.btn-yellow {
        background: $yellow;
      }
      &.btn-green {
        background: $green;
      }
    }
  }