$dark-blue: #101022;
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;
$light-gray: #8a8995;
$background-gray: #f6f6f6;
$border-gray: #e0e0e0;

$txt-color: #080606; 
$filter-hover-color: #292a48;
$numbers-txt-color: #8a8995;
$date-color: #9898a2;
$star-border-color: #e9e9e9;